<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-5">
    <div class="col-8 offset-2">
      <h3>Edit your Listing</h3>

      <form 
        method="POST" 
        action="/listings/<%= listing._id %>?_method=PUT"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-4">
          <label for="title" class="form-label"><b><i>Title:</i></b></label>
          <input 
            name="listing[title]"
            value="<%= listing.title %>"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
        </div>

        <div class="mb-4">
          <label for="description" class="form-label"><b><i>Description:</i></b></label>
          <textarea 
            name="listing[description]"
            class="form-control"
            required
          ><%= listing.description %></textarea>
          <div class="invalid-feedback">Write a short description!</div>
        </div>

        <div class="mb-3">
          Original Listing image:
          <br/>
         <img 
           src="<%= originalImageUrl %>" 
            class="img-fluid"
            style="max-height: 200px; object-fit: cover;"
            />

            <br />

          <div class="mb-4">
          <label for="image" class="form-label"><b><i>Upload New Image </i></b></label>
          <input 
            name="image"
            type="file"
            class="form-control"
           
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label"><b><i>Price:</i></b></label>
            <input 
              name="listing[price]"
              value="<%= listing.price %>"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter a valid price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label"><b><i>Country:</i></b></label>
            <input 
              name="listing[country]"
              value="<%= listing.country %>"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter country name!</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label"><b><i>Location:</i></b></label>
          <input 
            name="listing[location]"
            value="<%= listing.location %>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid location!</div>
        </div>

        <button class="btn btn-dark edit-btn mt-4">Edit</button>
      </form>
    </div>
  </div>

 
