<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-3 show-card">

<h3><%= listing.title %></h3>

<div class="card col-8 listing-card ">
  <img 
    src="<%= listing.image && listing.image.url ? listing.image.url : '/images/default-listing.jpg' %>"
    class="card-img-top show-img" alt="listing_image" />

  <div class="card-body">
    <p class="card-text">Owned by:
      <i><%= listing.owner.username %></i> </p>
      <p class="card-text"> <b><%= listing.title %></b></p>
      <p class="card-text"> <%= listing.description %> </p>
       <p class="card-text">₹ <%= listing.price %> </p>
        <p class="card-text"> <%= listing.location %> </p>
        <p class="card-text"><%= listing.country %></p>
  </div>
</div>

<br />

 <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
<div class="d-flex gap-3 mt-3">
  <a href="/listings/<%= listing._id %>/edit" class="btn btn-danger">
    Edit
  </a>

  <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
    <button class="btn btn-dark">
      Delete
    </button>
  </form>
</div>
<% } %>

<% if(currUser) { %>
<div  class="col-30 mb-3">

  <hr>
   <h4>Leave a review</h4>
   <form action="/listings/<%= listing.id %>/reviews" 
    method="POST" 
    novalidate 
    class="needs-validation"
    >
    <div class="mb-3 mt-3">
      <br />
          <labelfor="rating" class="form-label">Rating</labelfor>
            <fieldset class="starability-slot">

              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked />

              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1">1 star</label>

              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2">2 stars</label>

              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3">3 stars</label>

              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4">4 stars</label>

              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5">5 stars</label>
            </fieldset>
          </div>
     <div class="mb-3 mt-3">
        <label for="comment" class="form-label" >Comments:</label>
        <textarea 
        name="review[comment]" 
        id="comment" 
        cols="30" 
        rows="5" 
        class="form-control"
        required
      ></textarea>
      <div class="invalid-feedback">Please add some comments for review</div>
     </div>
     <button type="submit" class="btn btn-outline-dark">Submit</button>
       <hr />
    </form>
   <% } %>

   
  <p><b>All Reviews</b></p>
   <div class="row">
  <% for(review of listing.reviews) { %>
       <div class="card col-5 ms-3 mb-3">
          <div class="card-body">
               <div class="card-title">@<%= review.author.username %></div>
               <p class="starability-result card-text" data-rating="<%= review.rating %>" >stars </p>
               <p class="card-text"><%= review.comment %></p>
          </div>
          <br />
          <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id%>?_method=DELETE">
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
        </div>
  <% } %>
  <div class="col-8 offsey-3 mb-3">
       <h3>Where You'll be</h3>
        <div id="map"></div>
  </div>
   </div>
 </div>
  </div>
</div>
